@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: rgb(255, 255, 255);
  --secondary-background: rgb(250, 250, 250);
  --banner-background: rgb(255, 255, 255);
  --hover-overlay: rgba(0, 0, 0, .05);
  --border-separator: rgb(219, 219, 219);
  --divider: rgb(219, 219, 219);
  --stroke: rgba(219, 219, 219, .3);
  --primary-text: rgb(0, 0, 0);
  --secondary-text: rgb(115, 115, 115);
  --primary-button: rgb(0, 149, 246);
  --secondary-button: rgb(38, 38, 38);
  --primary-button-hover: rgb(24, 119, 242);
  --link: rgb(0, 55, 107);
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}

[data-theme='dark']:root {
  --primary-background: rgb(0, 0, 0);
  --secondary-background: rgb(18, 18, 18);
  --hover-overlay: rgba(255, 255, 255, .1);
  --banner-background: rgb(38, 38, 38);
  --stroke: rgba(85, 85, 85, .3);
  --border-separator: rgb(38, 38, 38);
  --divider: rgb(38, 38, 38);
  --primary-text: rgb(245, 245, 245);
  --secondary-text: rgb(168, 168, 168);
  --link: rgb(224, 241, 255);
  --secondary-button: rgb(250, 250, 250);
}

[data-theme='dark'] .sun {
  display: none !important;
}

[data-theme='dark'] .moon {
  display: flex !important;
  }

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-background: rgb(0, 0, 0);
    --secondary-background: rgb(18, 18, 18);
    --hover-overlay: rgba(255, 255, 255, .1);
    --banner-background: rgb(38, 38, 38);
    --stroke: rgba(85, 85, 85, .3);
    --border-separator: rgb(38, 38, 38);
    --divider: rgb(38, 38, 38);
    --primary-text: rgb(245, 245, 245);
    --secondary-text: rgb(168, 168, 168);
    --link: rgb(224, 241, 255);
    --secondary-button: rgb(250, 250, 250);
  }

  .sun {
    display: none !important;
  }

  .moon {
    display: flex !important;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
}

body {
  color: var(--primary-text);
  background: var(--primary-background);
}

/* Uncategorized styles */
.form-col input:-webkit-autofill,
.form-col input:-webkit-autofill:hover,
.form-col input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-background) inset;
}

.next-btn{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/images/collection-2.png);
  background-repeat: no-repeat;
  background-position: -305px -282px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 20;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
}

.back-btn{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/images/collection-2.png);
  background-repeat: no-repeat;
  background-position: -303px -235px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 20;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
}

.sun {
  display: flex;
}

.moon {
  display: none;
}

/* Navbar styles begins here */
.nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 244px;
  width: 100%;
  padding: 8px 12px 20px 12px;
  border-right: 1px solid var(--border-separator);
  z-index: 1000;
  flex-grow: 1;
  transition: var(--animation-smooth);
}

.sidebar-is-active{
  max-width: 73px;
}

.sidebar-is-active .camlogo{
  display: flex;
}

.sidebar-is-active .textlogo{
display: none;
}

.nav-links{
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 4px 0px 4px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--animation-fast);
}

.nav-links:hover{
background-color: var(--hover-overlay);
}

.nav-links:hover > span > img{
 scale: 1.05;
}

.nav-links-text{
  display: flex;
  align-items: center;
  height: 24px;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.sidebar-is-active .nav-links-text{
opacity: 0;
}

.logo-wrapper{
  padding: 25px 12px 16px 12px;
  margin-bottom: 19px;
}

.logo{
  margin-top: 7px;
}

.camlogo{
  display: none;
}

.textlogo{
  max-width: none;
  height: 29px;
  width: 103px;
}

.profile-pic{
  border-radius: 50%;
}


/* Login and signup page style starts here */
.signin-form-section {
  border: 1px solid var(--border-separator);
  border-radius: 1px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin-top: 12px;
}

.or-seperator {
  display: flex;
  width: 100%;
  margin: 10px 0px 18px;
  padding: 0px 40px;
}

.or-seperator p {
  line-height: 1.1538;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-left: 18px;
  margin-right: 18px;
  color: var(--secondary-text);
}

.left-seperator,
.right-seperator {
  width: 100%;
  height: 1px;
  display: flex;
  background-color: var(--divider);
  position: relative;
  top: 0.45em;
  flex-grow: 1;
}

.other-login-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
}

.other-login-option a {
  /* color: #385185; */
  color: var(--link);
}

.switch-signin-method {
  display: flex;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  align-items: center;
  border: 1px solid var(--border-separator);
  border-radius: 1px;
  margin: 0px 0px 10px;
  padding: 5px 0px;
}

.switch-signin-method p {
  font-size: 14px;
  text-align: center;
  margin: 15px;
}

.switch-signin-method p a {
  color: var(--primary-button);
  font-weight: 600;
}

.form-col {
  min-height: 38px;
  border: 1px solid var(--divider);
  background-color: var(--secondary-background);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 0px 40px 6px;
  width: auto;
  font-size: 14px;
  position: relative;
}

.form-col input {
  font-size: 12px;
  appearance: none;
  text-align: left;
  background: var(--secondary-background);
  color: var(--primary-text);
  border: none;
  flex: 1 0 auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}

.form-col label {
  border: none;
  color: var(--secondary-text);
  font-size: 12px;
  height: 36px px;
  left: 8px;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  transform-origin: left;
  transition: transform ease-out 0.1s;
  white-space: nowrap;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.signin-form button, .google-login-btn {
  all: unset;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-button);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  padding: 7px 16px;
  margin: 8px 40px;
  transition: var(--animation-primary);
}

.signin-form button:hover, .google-login-btn:hover{
  background-color: var(--primary-button-hover);
}

.login-label {
  transform: scale(calc(10 / 12)) translateY(-10px);
}

.login-input {
  padding: 14px 0 2px 8px !important;
}

.signup-info {
  color: var(--secondary-text);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.terms {
  font-size: 12px;
  color: var(--secondary-text);
  max-width: 100%;
  line-height: 16px;
}

.terms a {
  color: var(--link);
}

.conditions {
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
}

/* More options style */
.more-option-list {
  width: 230px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 110%;
  background-color: var(--banner-background);
  border-radius: 6px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
}

.more-option {
  padding: 9px 16px;
  color: var(--primary-text);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-top: 1px solid var(--border-separator);
  flex: 0 0 auto;
}

.more-option:first-child {
  border-top: none;
}

.more-option:hover {
  background: var(--hover-overlay);
}

.more-option:last-child {
  padding: 9px 16px;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 6px solid var(--stroke);
   flex-direction: row; 
}

.more-option a, .more-option p {
  font-size: 14px;
  height: 24px;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary-text);
  text-decoration: none;
}

/* main content wrapper */
.main-content {
  max-width: calc(100% - 244px);
  width: 100%;
  position: absolute;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 22px;
}

/* Insta stories style*/
.story-section {
  position: relative;
  padding: 8px 0px;
  margin-bottom: 32px;
  max-width: 470px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.story-slides {
  display: flex;
  align-items: center;
  gap: 14px;
  overflow: scroll;
  scroll-behavior: smooth;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.story-slides::-webkit-scrollbar {
  display: none;
}

.slide {
  max-width: 66px;
  width: 100%;
  height: 84px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  padding: 0px 3px;
  margin-top: 7px;
}

.slide-profile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.slide-profile::after {
  content: "";
  width: 62px;
  height: 62px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: var(--secondary-background);
}

.slide p {
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding-right: 4px;
  padding-left: 4px;
  max-width: 74px;
  overflow: hidden;
  white-space: nowrap;
  color: var(--primary-text);
}

.story-ring {
  width: 56px;
  height: 56px;
  position: relative;
}

.story-ring::before {
  content: "";
  width: 66px;
  height: 66px;
  /* background: radial-gradient(circle at 30% 107%, #ffd600 0%, #ff7a00 5%, #ff0069 45%, #d300c5 60%, #7638fa 90%); */

  background: radial-gradient(circle farthest-corner at 35% 90%, #ffd600, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #ffd600, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #d300c5, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #d300c5, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #7638fa, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #7638fa, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #ff0069, transparent), linear-gradient(#d300c5, #bc318f 30%, #ff0069 50%, #ff7a00 70%, #fec66d 100%);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}


/* Suggested feed styles */
aside {
  width: 319px;
  margin-top: 36px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}

.aside-footer-title {
  opacity: .5;
  margin-top: 11px;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.account-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.full-name {
  color: var(--secondary-text);
  cursor: auto;
}

.suggested-account {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.suggested-account img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  background-color: var(--secondary-background);
  cursor: pointer;
}

.follow-suggested-account{
  font-size: 12px;
  margin-left: 8px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-button);
  font-weight: 600;
}

.suggested-account-info {
  margin-left: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.suggested-account-info p {
  color: var(--primary-text);
  font-weight: 600;
}

.suggested-account-cto {
  font-size: 12px !important;
  color: var(--secondary-text) !important;
  font-weight: 400 !important;
  cursor: auto;
}

.suggest {
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-text);
}


/* Feed posts style */
.feed-post {
  max-width: 470px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
  border-radius: 8px;
  border: 1px solid var(--border-separator);
  margin-bottom: 12px;
}

.post-username {
  font-size: 14px;
  color: var(--primary-text);
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: pointer;
  line-height: 18px;
}

.post-profile-pic img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.post-profile-pic::after {
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: var(--secondary-background);
}

.post-story-ring {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.post-story-ring::before {
  content: "";
  width: 42px;
  height: 42px;
  /* background: radial-gradient(circle at 30% 107%, #ffd600 0%, #ff7a00 5%, #ff0069 45%, #d300c5 60%, #7638fa 90%); */

    background: radial-gradient(circle farthest-corner at 35% 90%, #ffd600, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #ffd600, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #d300c5, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #d300c5, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #7638fa, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #7638fa, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #ff0069, transparent), linear-gradient(#d300c5, #bc318f 30%, #ff0069 50%, #ff7a00 70%, #fec66d 100%);
    
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

/* Post content style continues here */
.post-content-wrapper {
  overflow: hidden;
  max-width: 470px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.post-content {
  scroll-snap-type: x mandatory;
  max-width: 470px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.post-content::-webkit-scrollbar {
  display: none;
}

.post-content-item {
  max-width: 470px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-content-item img, .post-content-item video {
  scroll-snap-align: start; 
  max-width: 470px;
  width: 100vw;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: var(--secondary-background);
}

.like-count {
  font-size: 14px;
  color: var(--primary-text);
  font-weight: 600;
}

.caption {
  font-size: 14px;
  color: var(--primary-text);
  line-height: 23px;
}

.caption a {
  text-decoration: none;
  color: var(--secondary-button);
  font-weight: 600;
  transition: var(--animation-fast);
}

.caption a:hover {
  opacity: .5;
}

.tag {
  text-decoration: none;
  color: rgb(0, 55, 107) !important;
  font-weight: 400 !important;
  font-size: 14px;
}

.comment-count {
  font-size: 14px;
  color: var(--secondary-text);
  text-decoration: none;
}

.post-time {
  font-size: 10px;
  color: var(--secondary-text);
}

.comment-form {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--divider);
}

.comment-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  resize: none;
  height: 18px;
  max-height: 80px;
  font-size: .85rem;
  line-height: initial;
  color: var(--primary-text);
}

.comment-input:active,
.comment-input:focus ~ .post-comment-btn {
  opacity: 1;
}

.comment-input::placeholder{
  color: var(--secondary-text);
}

.post-comment-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px !important;
  text-align: center;
  width: auto;
  margin: 0;
  opacity: 0.3;
  color: var(--primary-button);
  text-transform: capitalize;
}

@media screen and (max-width: 1264px) {
  .nav {
    max-width: 73px;
    width: 100%;
  }

  .nav-links-text {
    display: none;
  }

  .main-content {
    max-width: calc(100% - 73px);
  }

  .camlogo{
    display: block;
  }

  .textlogo {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  aside{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --border-separator: transparent;
  }

  [data-theme='dark']:root {
  --border-separator: transparent;
}

  .nav{
    display: none;
  }

  .main-content{
    max-width: 100%;
  }

  .comment-form {
  border: 1px solid var(--divider);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
}

@media screen and (max-width: 500px) {
  .story-slides {
  padding-left: 16px;
  padding-right: 16px;
}
}